<%= render 'header' %>
<div id="form">

<bold><h1>Edit Profile</h1></bold>
<br>
<%= render 'form' %>
<%= button_to "Delete Account", user_path(@user), method: 'delete' %>
<%= link_to "Back to User Profile", user_path(@user), method: 'get' %>

</div>
