

<div id="sign-up" style="background-image: https://images.unsplash.com/photo-1545252681-4cc81120c471?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80">
  <bold><h1> Sign Up </h1><bold><br>

  <%= render 'form' %>
</div>
