<div class="blog-masthead">
        <nav class="blog-nav">
          <a class="blog-nav-item " href=<%="#{users_path}"%>>X  A  N  G  A </a>
      </nav>
</div>
<div id="form">
  <bold><h1> Sign Up </h1><bold><br>

  <%= render 'form' %>
  <%= link_to "Back to Homepage", users_path %>
</div>
