<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href=<%= users_path %>>S c a t t r </a>
		</div>
			<ul class="nav navbar-right navbar-brand" >
					<a class="font" href=<%=login_path%>>Log-In</a>
			</ul>
	</div>
</nav>
